astroid==2.2.5
autopep8==1.4.4
beautifulsoup4==4.8.0
bs4==0.0.1
esprima==4.0.1
isort==4.3.21
lazy-object-proxy==1.4.2
lxml==4.4.1
mccabe==0.6.1
pathlib==1.0.1
pycodestyle==2.5.0
pylint==2.3.1
python-dateutil==2.7.5
pytoml==0.1.20
PyYAML==3.13
remarshal==0.9.0
rope==0.14.0
six==1.12.0
soupsieve==1.9.3
tinycss==0.4
typed-ast==1.4.0
webencodings==0.5.1
wrapt==1.11.2
