import React from 'react'
import styled from 'styled-components'
import { createButtons, addTextInputAttributes } from './ComponentHelper'
import { Animated } from 'react-native'

const Body = styled.View`
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: #15232a;
  text-align: left;
`

$styled_components

class IndexView extends React.Component {
  render () {
    return (
$jsx
    )
  }
}

export default IndexView
