import React from 'react'
import { View } from 'react-native'
import styled from 'styled-components'

$styled_components

class IndexView extends React.Component {
  render () {
    return (
      $jsx
    )
  }
}

export default IndexView
